*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-image: url(image/3242104.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-color: rgb(29, 42, 53);
    margin: 0 auto;
    border-radius: 9px;
    width: 80%;
    height: 65%;
    margin-top: 20%;
    padding: 1rem 1.2rem;
    box-shadow: 0px 0px 10px #2b5fad;
}

#output{
    width:100%;
    padding: 1rem 10px;
    background-color: #11112e;
    color: #ffffff;
    font-size: 1.7rem;
    border: none;
    border-radius: 5px;
}

.btn{
width: 100%;
height: auto;
margin-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.btn > div > button{
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 6px 3px;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #23242b;
    color: #dbd3d3;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 5px #888585;
    transition: all;
    overflow: hidden;
}

.btn > div > button:hover{
    background-color: #88858569;
    transition-duration: 0.4s;
}
.btn > div > button:nth-child(1) {

    background-color: #d88a15;
    color: #11112e;

}
.btn > div > button:nth-child(1):hover{
    background-color: #f3b137e7;
}

.btn > .fifth_child {
    width: 100%;
}
.btn > .fifth_child > #equal{

    margin-left: 5%;
    width: 90%;
    border-radius: 2%;
    font-size: xx-large;
    background-color: #038b20;

}
