*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 13, 46);
    flex-direction: column;
}
button{
    background-color: #ddda2d;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
}
